streamlit==1.42.2
pyaudio==0.2.14
pygame==2.6.1
faiss-cpu==1.10.0
langchain==0.3.17
langchain-community==0.3.16
langchain-openai==0.3.3
langchain-experimental==0.3.4
openai==1.60.2
tiktoken==0.8.0